<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics_async.html" . -}}
{{- partial "head/custom.html" . -}}

<style>
    section.copyright a.social-icon {
        float: right;
        margin-left: 7px;
    }   
    /* /* div.social-row ul {
        width: 70%;
        margin: auto;
    } */
    /* section.copyright li { */
        /* display: inline-block; */

        /* list-style-type: none; */
        /* float: left; */
        /* margin: 0 auto;
        margin-left: .8rem; */
    /* } */

    /* div.social-row li:first-child {
        margin-left: 0;
    }
    div.social-row img {
        width: 45px;
    } */ 
</style>